.container {
    /* display: inline-block; */
    /* pakeistas i grid */
    display: grid;
    grid-template-columns: 1fr 200px 300px 300px 200px 1fr;
    width: 100%;
    padding: calc(var(--section-padding) * 2) 0;
}
    .container > .row-short {
        display: inline-block;
        grid-column: 3 / 5;

        /* pereinant i grid užkomentuojam */
        /* width: 600px;
        margin: 0 calc(50% - 300px); */

        /* kaip naudojamas -> margin: top right bottom left */
        /* margin (taip pat ir padding) veikia simetriskai, pvz:
        margin: 10px; -> margin: 10px 10px 10px 10px;
        margin: 10px 20px; -> margin: 10px 20px 10px 20px;
        margin: 10px 20px 30px; -> margin 10px 20px 30px 20px; */
        /* 
        margin - atsistumia
        padding - issipucia */
        /* background-color: antiquewhite; */
    }
    .container > .row {
        display: inline-block;
        grid-column: 2 / 6;

        /* pereinant i grid užkomentuojam */
        /* width: 1000px;
        margin: 0 calc(50% - 500px); */

        /* background-color: aquamarine; */
    }
        .container > .row > .column {
            display: inline-block;
            float: left;
            /* float: left; - ignoruojas, nes display: inline-block; */
        }
            .container > .row > .column.left {
                width: 50%;
                /* background-color: orange; */
            }
            .container > .row > .column.right {
                width: 40%;
                margin-left: 10%;
                /* background-color: tomato; */
            }

@media (max-width: 1100px) {
    .container > .row {
        grid-template-columns: 1fr 100px 300px 300px 100px 1fr;
        
        /* pereinant i grid užkomentuojam */
        /* width: 800px;
        margin: 0 calc(50% - 400px); */

        /* top == bottom; right == left */
        /* background-color: tomato; */
    }
}

@media (max-width: 900px) {
    .container > .row {
        grid-template-columns: 1fr 300px 300px 1fr;

        /* pereinant i grid užkomentuojam */
        /* width: 600px;
        margin: 0 calc(50% - 300px); */
        /* background-color: olivedrab; */
    }
        .container > .row-short,
        .container > .row {
            grid-column: 2 / 4;
        }

}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 20px 1fr 20px;

        /* pereinant i grid užkomentuojam */
        /* padding-left: 20px;
        padding-right: 20px; */
    }
        /* pereinant i grid užkomentuojam */
        /* .container > .row-short {
            width: 100%;
            margin: 0;
        }
        .container > .row {
            width: 100%;
            margin: 0;
        } */
        .container > .row-short,
        .container > .row {
            grid-column: 2 / 3;
        }

            .container > .row > .column.left {
                width: 100%;
            }
            .container > .row > .column.right {
                width: 100%;
                margin: 0;
                margin-top: calc(var(--section-padding) * 2);
                /* pakeicia margin: top 0 0 0; top reiksme */
            }
}